*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

body{
  background-color: rgb(233, 233, 233);
}

.container{
  margin: 0 auto;
  width: 550px;
  /* height: 100vh; */
  background-color: white;
}


header{
  height: 55px;
  width: 100%;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0 auto;
}

.holder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

}

p{
  font-size: 15px;
  font-weight: 500;
}

.logoimage{
  width: 25px;
}

.maincontainer{
  margin-top: 28px;
}

.sectioncontainer{
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0px;
  /* background-color: aqua; */
}

.Displayimage{
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.details{
  margin-left: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text{
  font-size: 10.24px;
}

.name{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.location{
  display: flex;
  gap: 12px;margin-bottom: 7px;
align-items: center;
}

.location a{
  text-decoration: none;
  color: #918E9B;
  font-weight: 400;
  text-decoration: underline;

}

.date{
  margin-bottom: 9px;
  font-weight: 700;
}

.description{
  font-weight: 100px;
  color: #2B283A;
  line-height: 15.36px;
}

hr{
  background-color: #F5F5F5;
  width: 478px;
  margin: 0 auto;
  border: .8px solid #F5F5F5;

}

.locationicon{
  width: 8px;
  margin-right: 3px;
}

.locationname{
  font-weight: 400;
  color: #2B283A;
}

